.hidden{
    visibility: hidden;
}

.table {
    width:100%
  }

th, td{
    text-align: left;
}

tr{
    background: rgb(190, 190, 190);
  }
tr:nth-of-type(even){
    background: rgb(148, 148, 148);
  }

.btn{
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 20px;
  overflow-wrap: break-word;
  padding: 10px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-delete{
    background: #e94b4b;
    width: 50%
}

.btn-edit{
    width:50%
}

.search{
    width:100%;
    min-height:25px;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
}